@font-face {
    font-family: 'productreg';
    src: url('productreg.ttf');
}
@font-face {
    font-family: 'productbold';
    src: url('productbold.ttf');
}
body{
	font-family: 'productreg';
}
.container-fluid{
	margin-top: -110px;
	padding-left: 0;
	padding-right: 0;
}
.login-header{
	background: #fbc02d;
	text-align: center;
	border-radius: 33%;
	padding-top: 150px;
	padding-bottom: 50px;
	z-index: 700;
	position: relative;
	box-shadow: 0 10px 30px rgba(17, 17, 17, 0.10), 0 6px 12px rgba(17, 17, 17, 0.10);
	transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
.after-login{
	border-radius: 100px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 5px;
	padding-top: 110px;
}
.login-header.after-login h4{
	font-size: 15px;
	margin-top: 0;
}
.login-header.after-login h1{
	font-size: 55px;
}
.login-header.after-login i{
	font-size: 65px;
}
.login-header h1{
	color: #FFFFFF;
	font-family: 'productbold';
	font-size: 75px;
	display: inline;
	vertical-align: middle;
	transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
.login-header i{
	color: #ef5350;
	font-size: 100px;
	display: inline;
	vertical-align: middle;
	margin-right: 2%;
	transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
.login-header h4{
	font-family: 'productreg';
	margin-top: 15px;
	color: #FFFFFF;
	font-size: 20px;
	transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
.module{
	transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	z-index: 500;
	width: 50%;
	margin: -150px auto;
	padding-top: 180px; 
	padding-bottom: 100px;
	border-radius: 100px;
	text-align: center;
	background-color: #FFFFFF;
	box-shadow: 0 10px 30px rgba(17, 17, 17, 0.10), 0 6px 12px rgba(17, 17, 17, 0.10);
}
.module-after-login{
	width: 70%;
}
.module input{
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 25px;
	border-radius: 25px;
	line-height: 50px;
	border: 1px solid #fbc02d;
	text-align: inherit;
	font-size: 20px;
	outline: none;
	min-width: 500px;
}
.module button.btn{
	background: #ef5350;
	color: #FFFFFF;
	font-size: 20px;
	border-radius: 20px;
	border: none;
	outline: none;
	min-width: 250px;
	min-height: 50px;
}