<button onclick="login()" class="btn btn-warning">Reset</button>
<h5 style="display: inline-block; vertical-align: middle; margin-left: 25px; margin-right: 25px; margin-top: 28px; font-size: 32px; border: 3px solid #FFFFFF; padding-bottom: 6px; padding-top: 3px; padding-left: 8px; padding-right: 8px; border-radius: 20px">Cashier</h5>
<button onclick="location.href='./'" class="btn btn-warning">Logout</button>
<input id="datepicker-cashier" placeholder="Pick a date">
<div id="movies-on-date"></div>
<div id="timings-for-movie"></div>
<div id="available-seats"></div>
<div id="price-and-confirm"></div>

