<!DOCTYPE html>
<html>
<head>
	<title>CineManager Login</title>
	<link rel="icon" href="./favicon-film.ico">
	<link href="./bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron login-header">
			<i class="fas fa-film"></i>
			<h1>CineManager</h1>
			<h4>A comprehensive theatre management and ticket booking system</h4>
		</div>
		<div class="jumbotron login-module">
			<input type="text" name="username" placeholder="Username">
			<input type="text" name="password" placeholder="Password">
			<button type="button" class="btn btn-warning">Login</button>
		</div>
	</div>
	<script src="./jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static',filename='main.js')}}"></script>
</body>
</html>