
<button onclick="login()" style="margin-right: 100px" class="btn btn-warning">Reset</button>
<button onclick="location.href='./'" class="btn btn-warning">Logout</button>
<div id="options">
	<button onclick="viewBookedTickets()">View Bookings</button>
	<button onclick="insertMovie()">Insert a Movie</button>
	<button onclick="createShow()">Schedule a Show</button>
	<button onclick="alterPricing()">Alter Prices</button>
</div>
<div id="manager-dynamic-1"></div>
<div id="manager-dynamic-2"></div>
<div id="manager-dynamic-3"></div>
