<h4>Movie Details</h4>
<div id="movieform">
<input type="text" name="movieName" placeholder="Name">
<input type="text" name="movieLen" placeholder="Length">
<input type="text" name="movieLang" placeholder="Language">
<input type="text" name="movieTypes" placeholder="Types Available (2D, 3D, 4DX) separated by space" maxlength="10">
<input id="datepicker-manager-2" placeholder="Premiere Date">
<input id="datepicker-manager-3" placeholder="Last Date in theatres">
<button onclick="filledMovieForm()">Submit</button>
</div>